
i.fab.fa-whatsapp.icone-whatsApp.icone-whatsApp-contato {
    font-size: -webkit-xxx-large;
    color: green;
}

i.fab.fa-whatsapp.icone-whatsApp {
    color: green;
}

.icone-topo {
    font-size: -webkit-xxx-large;
    padding: 10px;
}

i.fab.fa-twitter {
    color: #29d7f5;
}

i.fab.fa-pinterest {
    color: red;
}

i.fab.fa-instagram.icone-instragram {
    color: #ff00de;
}

i.fab.fa-google-plus-g {
    color: red;
}

i.fab.fa-facebook-f.icone-facebook {
    color: #6f9aff;
}