/* Personalização por @ronilson__silva */
h3.texto-frase {
    text-align: center;
    color: #6195ff;
}
/* Personalização da tabela de preço */
.pricing::after {
    content: "";
    background-color: #353d4e;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0%;
    z-index: -1;
    -webkit-transition: 0.2s height;
    transition: 0.2s height;
}
/* Pèrsonalização ícone do WhatsApp */
i.fa.fa-whatsapp.icone-whatsApp {
    color: #0cbb0c;

}
/* Personalização ìcone do E-mail */
i.fa.fa-envelope.icone-email {
    color: #fdd307;
}
/* Ícone do Facebook */
i.fa.fa-facebook.icone-facebook {
    color: #4267b2;
    font-size: -webkit-xxx-large;
    margin-left: 15px;
    margin-right: 15px;
}
/* Ícone do Instagram */
i.fa.fa-instagram.icone-instragram {
    color: hotpink;
    font-size: -webkit-xxx-large;
    margin-left: 15px;
    margin-right: 15px;
}
/* Ícone da Localização */
i.fa.fa-map-marker.icone-localizacao {
    color: pink;
}
/* Ícone WhatsApp contato */
i.fa.fa-whatsapp.icone-whatsApp.icone-whatsApp-contato {
    font-size: -webkit-xxx-large;
    margin-left: 15px;
    margin-right: 15px;
}
/* Logo GS Soluções */
p.logo-gs {
    text-align: -webkit-center;
    margin-bottom: -1px;
    color: #ece8e8;
}
/* Parágrafo Footer CopyRight */
.footer-copyright p {
    color: #ece8e8;
}
/* Alteração rodapé */
.footer-follow li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
    background-color: transparent;
    color: #6195ff;
    font-size: -webkit-xxx-large;
}
/* Navbar fixed */
#nav.fixed-nav {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0px 0px;
    background-color: #050402 !important;
    border-bottom: 1px solid #050402;
}

.main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
    background: transparent;
    color: #fff;
}

.main-nav>li>a {
    color: #fff;
    padding: 15px 0px;
}
/* Citações */
.texto-citacao{
    text-align: center;
}
/* @media only screen and (min-width: 768px){
.main-nav>li>a {
    color: #fff;
    padding: 15px 0px;
}
} */

.icone-rede-sociais{
    font-size: x-large;
}

.li-redes-sociais{
    margin-right: 0;
    margin-bottom: 0;
}
/*  */
#whatsApp-contato {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 61px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    z-index: 9999;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
    cursor: pointer;
    margin-bottom: 60px;
}
/* Mobile */
@media only screen and (max-width: 767px){
#nav.nav-transparent {
    background: #040301;
}}

.nav-collapse span, .nav-collapse span:before, .nav-collapse span:after {
    height: 4px;
    background: #fff;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.pricing .price {
    position: relative;
    width: 230px;
    height: 230px;
    line-height: 230px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #6195FF;
}

.pricing {
    min-width: 260px;
}

.md-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}